.spinner {
	width: 60px;
	height: 60px;
	border: 6px solid #e1e1e1;
	border-radius: 50px;
	border-left-color: #28b0a2;
	margin-inline: auto;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}